openapi: 3.0.3
info:
  title: Spotify API
  version: 1.0.0
  description: Endpoints de autenticação e dados do usuário via Spotify OAuth 2.0
  contact:
    name: Geison Oriani
    url: https://geison.dev

servers:
  - url: https://api.spotify.geison.dev
    description: Servidor de produção

tags:
  - name: Auth
    description: Endpoints de autenticação e autorização
  - name: User
    description: Endpoints relacionados ao usuário autenticado
  - name: Artist
    description: Endpoints relacionados a artistas
  - name: Playlist
    description: Endpoints relacionados a playlists do usuário

paths:
  # Auth
  /auth/login:
    get:
      operationId: login
      summary: "Login"
      description: "Gera uma URL para login no Spotify"
      tags:
        - Auth
      responses:
        "302":
          description: Redirecionamento para Spotify Authorization URL
        "500":
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/logout:
    get:
      operationId: logout
      summary: "Logout"
      description: "Realiza o logout do usuário"
      tags:
        - Auth
      responses:
        "302":
          description: Redirecionamento após logout
        "500":
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/callback:
    get:
      operationId: callback
      summary: "Callback do Spotify"
      description: "Callback do Spotify após autenticação"
      tags:
        - Auth
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          required: true
          schema:
            type: string
        - name: error
          in: query
          schema:
            type: string
      responses:
        "302":
          description: Redirecionamento para frontend após sucesso
        "400":
          description: Erro na autorização
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/refresh:
    post:
      operationId: refreshToken
      summary: "Refresh Token"
      description: "Atualiza o token de acesso usando o refresh token"
      tags:
        - Auth
      responses:
        "204":
          description: Token atualizado com sucesso
        "400":
          description: Refresh token não fornecido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # User
  /user/profile:
    get:
      operationId: getUserProfile
      summary: "Perfil"
      description: "Obtém o perfil do usuário autenticado"
      tags:
        - User
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Perfil recuperado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  data:
                    $ref: "#/components/schemas/UserResponse"
        "401":
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # Artist
  /artist/me/top-artists:
    get:
      operationId: getTopArtists
      summary: "Top artistas do usuário"
      description: "Obtém os top artistas do usuário autenticado"
      tags:
        - Artist
      security:
        - cookieAuth: []
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
          description: Posição inicial para paginação (offset)
      responses:
        "200":
          description: Top artistas recuperados
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  data:
                    $ref: "#/components/schemas/ArtistsResponse"
                  pagination:
                    $ref: "#/components/schemas/PaginationResponse"
        "401":
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /artist/{artistId}/albums:
    get:
      operationId: getArtistAlbums
      summary: "Álbuns de um artista"
      description: "Obtém os álbuns de um artista específico"
      tags:
        - Artist
      security:
        - cookieAuth: []
      parameters:
        - name: artistId
          in: path
          required: true
          schema:
            type: string
          description: ID do artista
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
          description: Posição inicial para paginação (offset)
      responses:
        "200":
          description: Álbuns recuperados com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  data:
                    $ref: "#/components/schemas/AlbumsResponse"
                  pagination:
                    $ref: "#/components/schemas/PaginationResponse"
        "401":
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # Playlist
  /playlist/me:
    get:
      operationId: getUserPlaylists
      summary: "Playlists do usuário"
      description: "Obtém as playlists do usuário autenticado"
      tags:
        - Playlist
      security:
        - cookieAuth: []
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
          description: Posição inicial para paginação (offset)
      responses:
        "200":
          description: Playlists recuperadas
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  data:
                    $ref: "#/components/schemas/PlaylistResponse"
                  pagination:
                    $ref: "#/components/schemas/PaginationResponse"
        "401":
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    post:
      operationId: createPlaylist
      summary: "Criar nova playlist"
      description: "Cria uma nova playlist para o usuário autenticado"
      tags:
        - Playlist
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "Minha Nova Playlist"
              required:
                - name
      responses:
        "201":
          description: Playlist criada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  data:
                    $ref: "#/components/schemas/PlaylistCreateResponse"
        "400":
          description: Nome da playlist não fornecido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    access_token:
      type: apiKey
      in: cookie
      name: access_token
    refresh_token:
      type: apiKey
      in: cookie
      name: refresh_token
    user_id:
      type: apiKey
      in: cookie
      name: user_id

  schemas:
    UserResponse:
      type: object
      properties:
        country:
          type: string
        display_name:
          type: string
        email:
          type: string
        explicit_content:
          type: object
          properties:
            filter_enabled:
              type: boolean
            filter_locked:
              type: boolean
        external_urls:
          type: object
          properties:
            spotify:
              type: string
        followers:
          type: object
          properties:
            href:
              type: string
              nullable: true
            total:
              type: integer
        href:
          type: string
        id:
          type: string
        images:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              height:
                type: integer
                nullable: true
              width:
                type: integer
                nullable: true
        product:
          type: string
        type:
          type: string
        uri:
          type: string

    ArtistsResponse:
      type: object
      properties:
        href:
          type: string
        limit:
          type: integer
        offset:
          type: integer
        total:
          type: integer
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true
        items:
          type: array
          items:
            type: object
            properties:
              external_urls:
                type: object
                properties:
                  spotify:
                    type: string
              followers:
                type: object
                properties:
                  href:
                    type: string
                    nullable: true
                  total:
                    type: integer
              genres:
                type: array
                items:
                  type: string
              href:
                type: string
              id:
                type: string
              images:
                type: array
                nullable: true
                items:
                  type: object
                  properties:
                    url:
                      type: string
                    height:
                      type: integer
                      nullable: true
                    width:
                      type: integer
                      nullable: true
              name:
                type: string
              popularity:
                type: integer
              type:
                type: string
              uri:
                type: string

    AlbumResponse:
      type: object
      properties:
        album_type:
          type: string
        total_tracks:
          type: integer
        available_markets:
          type: array
          items:
            type: string
        external_urls:
          type: object
          properties:
            spotify:
              type: string
        href:
          type: string
        id:
          type: string
        images:
          type: array
          nullable: true
          items:
            type: object
            properties:
              url:
                type: string
              height:
                type: integer
                nullable: true
              width:
                type: integer
                nullable: true
        name:
          type: string
        release_date:
          type: string
          format: date
        release_date_precision:
          type: string
        restrictions:
          type: object
          properties:
            reason:
              type: string
        type:
          type: string
        uri:
          type: string
        artists:
          type: array
          items:
            type: object
            properties:
              external_urls:
                type: object
                properties:
                  spotify:
                    type: string
              href:
                type: string
              id:
                type: string
              name:
                type: string
              type:
                type: string
              uri:
                type: string
        album_group:
          type: string

    AlbumsResponse:
      type: object
      properties:
        href:
          type: string
        limit:
          type: integer
        offset:
          type: integer
        total:
          type: integer
        previous:
          type: string
          nullable: true
        next:
          type: string
          nullable: true
        items:
          type: array
          items:
            $ref: "#/components/schemas/AlbumResponse"

    PlaylistResponse:
      type: object
      properties:
        href:
          type: string
        limit:
          type: integer
        offset:
          type: integer
        total:
          type: integer
        previous:
          type: string
          nullable: true
        next:
          type: string
          nullable: true
        items:
          type: array
          items:
            type: object
            properties:
              collaborative:
                type: boolean
              description:
                type: string
              external_urls:
                type: object
                properties:
                  spotify:
                    type: string
              href:
                type: string
              id:
                type: string
              images:
                type: array
                nullable: true
                items:
                  type: object
                  properties:
                    url:
                      type: string
                    height:
                      type: integer
                      nullable: true
                    width:
                      type: integer
                      nullable: true
              name:
                type: string
              owner:
                type: object
                properties:
                  external_urls:
                    type: object
                    properties:
                      spotify:
                        type: string
                  href:
                    type: string
                  id:
                    type: string
                  type:
                    type: string
                  uri:
                    type: string
                  display_name:
                    type: string
              public:
                type: boolean
              snapshot_id:
                type: string
              track:
                type: object
                properties:
                  href:
                    type: string
                  total:
                    type: integer
              type:
                type: string
              uri:
                type: string
              primary_color:
                type: string
                nullable: true

    PlaylistCreateResponse:
      type: object
      properties:
        collaborative:
          type: boolean
        description:
          type: string
        external_urls:
          type: object
          properties:
            spotify:
              type: string
        href:
          type: string
        id:
          type: string
        images:
          type: array
          nullable: true
          items:
            type: object
            properties:
              url:
                type: string
              height:
                type: integer
                nullable: true
              width:
                type: integer
                nullable: true
        name:
          type: string
        owner:
          type: object
          properties:
            external_urls:
              type: object
              properties:
                spotify:
                  type: string
            href:
              type: string
            id:
              type: string
            type:
              type: string
            uri:
              type: string
            display_name:
              type: string
        public:
          type: boolean
        snapshot_id:
          type: string
        tracks:
          type: object
          properties:
            href:
              type: string
            limit:
              type: integer
            offset:
              type: integer
            total:
              type: integer
            previous:
              type: string
              nullable: true
            next:
              type: string
              nullable: true
            items:
              type: array
              items:
                type: object
                properties:
                  added_at:
                    type: string
                    format: date-time
                  added_by:
                    type: object
                    properties:
                      external_urls:
                        type: object
                        properties:
                          spotify:
                            type: string
                      href:
                        type: string
                      id:
                        type: string
                      type:
                        type: string
                      uri:
                        type: string
                  is_local:
                    type: boolean
                  track:
                    type: object
                    properties:
                      album:
                        $ref: "#/components/schemas/AlbumResponse"
                      artists:
                        type: array
                        items:
                          type: object
                          properties:
                            external_urls:
                              type: object
                              properties:
                                spotify:
                                  type: string
                            href:
                              type: string
                            id:
                              type: string
                            name:
                              type: string
                            type:
                              type: string
                            uri:
                              type: string
                      available_markets:
                        type: array
                        items:
                          type: string
                      disc_number:
                        type: integer
                      duration_ms:
                        type: integer
                      explicit:
                        type: boolean
                      external_ids:
                        type: object
                        properties:
                          isrc:
                            type: string
                          ean:
                            type: string
                          upc:
                            type: string
                      external_urls:
                        type: object
                        properties:
                          spotify:
                            type: string
                      href:
                        type: string
                      id:
                        type: string
                      is_playable:
                        type: boolean
                      linked_from:
                        type: object
                        properties:
                          external_urls:
                            type: object
                            properties:
                              spotify:
                                type: string
                          href:
                            type: string
                          id:
                            type: string
                          type:
                            type: string
                          uri:
                            type: string
                      restrictions:
                        type: object
                        properties:
                          reason:
                            type: string
                      name:
                        type: string
                      popularity:
                        type: integer
                      preview_url:
                        type: string
                      track_number:
                        type: integer
                      type:
                        type: string
                      uri:
                        type: string
                      is_local:
                        type: boolean

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string

    PaginationResponse:
      type: object
      properties:
        hasNext:
          type: boolean
        hasPrevious:
          type: boolean
        currentPage:
          type: integer
        totalPages:
          type: integer
